<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Grammar_English">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grammar_page1">
        <activity
            android:name="com.example.Grammar_English.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--영어 문법-->
        <activity
            android:name="com.example.Grammar_English.EngDay1"
            android:label="EngDay1 액티비티" />
        <activity
            android:name="com.example.Grammar_English.EngDay2"
            android:label="EngDay2 액티비티" />
        <activity
            android:name="com.example.Grammar_English.EngDay3"
            android:label="EngDay3 액티비티" />
        <activity
            android:name="com.example.Grammar_English.EngDay4"
            android:label="EngDay4 액티비티" />
        <activity
            android:name="com.example.Grammar_English.EngDay5"
            android:label="EngDay5 액티비티" />
        <activity
            android:name="com.example.Grammar_English.EngDay6"
            android:label="EngDay6 액티비티" />

        <!--일본어 문법-->
        <activity
            android:name="com.example.Grammar_English.JapanMain"
            android:label="JapanList 액티비티" />
        <activity
            android:name="com.example.Grammar_English.JapDay1"
            android:label="JapDay1 액티비티" />
        <activity
            android:name="com.example.Grammar_English.JapDay2"
            android:label="JapDay2 액티비티" />
        <activity
            android:name="com.example.Grammar_English.JapDay3"
            android:label="JapDay3 액티비티" />
        <activity
            android:name="com.example.Grammar_English.JapDay4"
            android:label="JapDay4 액티비티" />
        <activity
            android:name="com.example.Grammar_English.JapDay5"
            android:label="JapDay5 액티비티" />
        <activity
            android:name="com.example.Grammar_English.JapDay6"
            android:label="JapDay6 액티비티" />
    </application>
</manifest>